In [1]:
from pyhive import hive
import pandas as pd
conn = hive.Connection(host="localhost", port=10000, username="Naumenko-KM")

In [2]:

df = pd.read_sql("SELECT age FROM hue__tmp_heart_cleveland_upload", conn)

/home/kostia/anaconda3/envs/mlbd/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
df

     age
0     69
1     69
2     66
3     65
4     64
..   ...
292   40
293   39
294   35
295   35
296   35

[297 rows x 1 columns]